h1 {
	display: inline-block;
	font-size: 40px;
}

#menu span {
	font-size: 30px;
	margin-right: 20px;
}​

#menu {
	display: inline-block;
}

.photo img {
	height: 100%;
}

#contact {
	font-size: 10px;
	display: none;
}

#header {
	height: 30px;
}

#header_cell {
	padding-left: 2px;
	padding-right: 0;
}

#wrapper {
	height: 100%;
}

#space1 #space2  {
	display: none;
}