:focus { outline: none }

* {
	box-sizing: border-box;
}

@font-face {
	font-family: tall_films;
	src: url( fonts/tallfilms.eot ); /* IE */  
	src: local("tallfilms"), url(fonts/tallfilms.ttf ) format("truetype"); /* non-IE */ 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: bebas;
	src: url(fonts/bebas.ttf)format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: league;
	src: url(fonts/league.ttf)format("truetype");
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	background-color: #eee;
	color: #222;
	height: 100%;
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: #222;
}

a:hover {
/*	color: #000;*/
}

h1 {
	font-size: 50px;
	font-family: bebas;
	word-spacing: 10px;
	text-align: center;
}

#header {
	height: 15%;
	display: table;
	margin: 0 auto;
}

#header_cell {
	display: table-cell;
	vertical-align: bottom;
}

#menu {
    margin-left: 3px;
}

#menu span {
	padding: 0 4px 2px 4px;
}

#menu span:last-child {
	margin-right: 0;
}

#menu a:hover {
	text-decoration: underline;
}

.selected {
	background-color: #222;
}

.selected a {
	color: #eee;
}

/*#inner_cell {
	float: left;
}*/

#contact {
	text-align: right;
	font-family: bebas;
	word-spacing: 3px;
	letter-spacing: 1px;
/*	margin-top: 47px;*/
	font-size: 16px;
	background-color: #ddd;
	padding: 10px;
	border-left: 5px solid #bbb;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

#contact2 {
	text-align: center;
	font-family: bebas;
	word-spacing: 3px;
	letter-spacing: 1px;
	margin-bottom: 60px;
	font-size: 16px;
}

#wrapper {
	overflow-y: auto;
	height: 85%;
	white-space:nowrap;
}

#photo_container {
	display:table;
	height: 100%;
	width: 100%;
}

#cell {
	display: table-cell;
	vertical-align:middle;
	width: 100%;
	height: 100%;
}

.pano {
	width: 100%;
}

#menu span {
	font-size: 40px;
	font-family: tall_films;
	margin-right: 72px; /* <---------- FIXME HERE*/
}​
/* NOTHING UNDER HERE !!!!! */